<%- partial(theme.header && theme.header.partial || '_ksio/partials/header') %>
<main class="Page-content">
  <%- partial('_ksio/slots/banner') %>
  <div class="container">
    <article class="Page-main Article">
      <header class="Article-header Hero">
        <h1 class="Article-title"><%= config.title %></h1>
        <p class="Hero-description">一场关于<span>把自己作为平台</span>的探索实践</p>
        <div class="Hero-video">
          <a class="Hero-videoLink" href="https://www.bilibili.com/video/BV1EwPWeeEkf" title="观看《欧雷宇宙，一场关于「把自己作为平台」的探索实践》">
            <img src="<%= url_for('images/local/pages/index/video-cover.jpg') %>" alt="欧雷宇宙，一场关于「把自己作为平台」的探索实践">
          </a>
        </div>
      </header>
      <div class="Article-content">
        <section class="Feature">
          <h2 class="Feature-title">激活自己，赋能他人</h2>
          <p class="Feature-description">把自己作为平台，用多年积累的各类资源助力他人成长的同时实现自己的理想。</p>
          <ul class="row CommunityStatistics">
            <li class="col-xs-6 col-md-3 CommunityStatistics-item"><a href="/members/"><span>社区成员</span><span><%= site.data['local/members'].total %></span></a></li>
            <li class="col-xs-6 col-md-3 CommunityStatistics-item"><a href="/partners/"><span>合作伙伴</span><span><%= site.data['local/partners'].length %></span></a></li>
            <li class="col-xs-6 col-md-3 CommunityStatistics-item"><a href="javascript:void(0);"><span>共建项目</span><span>4</span></a></li>
            <li class="col-xs-6 col-md-3 CommunityStatistics-item"><a href="javascript:void(0);"><span>公共资源</span><span><%= site.data['local/repos'].length + site.data['knosys/meetings'].sequence.length %></span></a></li>
          </ul>
          <div class="CommunityIntro">
            <p class="CommunityIntro-promo">对「欧雷宇宙」感兴趣？</p>
            <p class="CommunityIntro-getStarted"><a href="/about/">了解详情<i class="fa fa-long-arrow-right"></i></a></p>
          </div>
        </section>
      </div>
    </article>
  </div>
</main>
<%- partial(theme.footer && theme.footer.partial || '_ksio/partials/footer') %>
