<%- partial(theme.header && theme.header.partial || '_ksio/partials/header') %>
<main class="Page-content">
  <%- partial('_ksio/slots/banner') %>
  <div class="container">
    <article class="Page-main Article">
      <header class="Article-header Hero">
        <h1 class="Article-title"><%= config.title %></h1>
        <p class="Hero-description">一场关于<span>把自己作为平台</span>的探索实践</p>
        <a class="Hero-video" href="https://www.bilibili.com/video/BV1EwPWeeEkf" title="观看《欧雷宇宙，一场关于「把自己作为平台」的探索实践》">
          <img src="<%= url_for('images/local/pages/index/video-cover.jpg') %>" alt="欧雷宇宙，一场关于「把自己作为平台」的探索实践">
        </a>
      </header>
      <div class="Article-content">
        <p>你好👋🏼，这里是个人社区「欧雷宇宙」的主页。</p>
        <p>社区当前可用资源：</p>
        <ul>
          <li><a href="/meetings/">线上分享</a></li>
        </ul>
      </div>
    </article>
  </div>
</main>
<%- partial(theme.footer && theme.footer.partial || '_ksio/partials/footer') %>
